<!DOCTYPE html>
<html>
<head>
	<title>Variorum</title>

    {% include "home/tools_import_subpage.html" %}

	<!--for goole search console-->
	<meta name="google-site-verification" content="FKTJESZycg70RIEv4qDSrgE9Tpzs0vim2HwhiJR9wiM" />

	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!--JQUERY CDN-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js" type="text/javascript"></script>

	<!-- //for-mobile-apps -->
	<link href="/static/assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<link href="/static/assets/css/style_for_home.css" rel="stylesheet" type="text/css" media="all">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--layer-->
	<script src="https://cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>

	<!-- fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>

	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="/static/assets/js/move-top.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
	</script>
	<!-- start-smoth-scrolling -->
			<!--animate-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
		<script>
			 new WOW().init();
		</script>
	<!--//end-animate-->

</head>
<body>
	<div class="header wow fadeInDown animated" data-wow-delay=".5s">
		<div class="container">
			<div class="header-left grid">
				<div class="grid__item color-1 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
					<h1><a href="/"><i></i><span>Variorum</span></a></h1>
				</div>
			</div>
			<div class="header-right" style="float:right;">
				<div class="search">
					<form action="/handle_search" method="get">
						<input type="search" name="search_key"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="required">
						<input type="submit" value=" ">
					</form>
				</div>
				<script>
					function resizeSearchForm() {
						var searchDivWidth = $(".search").find("form").width();
						var searchButtonWidth = $(".search").find("input[type='submit']").width();
						$("input[type='search']").css("width", searchDivWidth - searchButtonWidth - 10 + "px");
					}
					$(document).ready(function() {
						resizeSearchForm();
					});
					$(window).on("resize", function() {
						resizeSearchForm();
					});
				</script>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="banner">
		<div class="ban-bot text-center">
			<script src="/static/assets/js/responsiveslides.min.js"></script>
			<script>
				// You can also use "$(window).load(function() {"
				$(function() {
				 // Slideshow 4
				$("#slider3").responsiveSlides({
					auto: true,
					pager: true,
					nav: false,
					speed: 500,
					namespace: "callbacks",
					before: function() {
				$('.events').append("<li>before event fired.</li>");
				},
				after: function() {
					$('.events').append("<li>after event fired.</li>");
					}
					});
				});
			</script>
			<div id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="ban-info">
							<h3>STORE & SHARE</h3><br>
							<p>A repository where you can store your documents and <br>access an extensive collection of shared reading resources</p><br>
							<a class="hvr-rectangle-out LoginBtn" style="cursor: pointer">Log In Now</a>
							<a class="hvr-rectangle-out" href="/sign_up">Sign Up Now</a>
						</div>
					</li>
					<li>
						<div class="ban-info">
							<h3>READ & ANNOTATE</h3><br>
							<p>A document viewer that enables you to <br>make annotation and comment on the document you read</p><br>
							<a class="hvr-rectangle-out LoginBtn" style="cursor: pointer">Log In Now</a>
							<a class="hvr-rectangle-out" href="/sign_up">Sign Up Now</a>
						</div>
					</li>
					<li>
						<div class="ban-info">
							<h3>DISCUSS & COMMUNICATE</h3><br>
							<p>A platform that facilitates exchange of ideas by <br>allowing multi-user, collaborative annotation on the same document</p><br>
							<a class="hvr-rectangle-out LoginBtn" style="cursor: pointer">Log In Now</a>
							<a class="hvr-rectangle-out" href="/sign_up">Sign Up Now</a>
						</div>
					</li>
				</ul>
				<script>
					$(".LoginBtn").on("click", function(e){
						// check whether user is logged in, very useful
						var is_authenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
						if (is_authenticated) {
							window.location.href = "/user_dashboard";
						}
						else {
							var logIn = layer.open({
								anim: 2,
								type: 1,
								title: "Log In",
								shadeClose: true,
								shade: 0.18,
								skin: 'layui-layer-molv',
								closeBtn: 0,
								maxmin: false, //开启最大化最小化按钮
								area: ['380px', '280px'],
								content:    "<form action='/handle_log_in' method='post' class='col-md-10 col-md-offset-1' style='text-align: center'>\
												{% csrf_token %}<hr>\
												<input name='email_address' type='email' class='form-control input-sm' placeholder='Email' required='required'><hr>\
												<input name='password' type='password' class='form-control input-sm' placeholder='Password' required='required'><hr>\
												<button type='button' class='btn btn-warning'><a style='text-decoration:none; color:inherit;' href='https://ivle.nus.edu.sg/api/login/?apikey=Z6Q2MnpaPX8sDSOfHTAnN&url=https://variorum.pythonanywhere.com/handle_nus_log_in'>Log In with NUS ID</a></button>\
												<button type='submit' id='submit_login_form_btn' class='btn btn-info'>Log In</button>\
											</form>"
							});
						}
					});
				</script>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="content-bott">
		<div class="container">
			<h3 class="title wow flipInX"><span>Our</span> Top <span>Documents</span></h3>
			{% for document in popular_documents_with_cover %}
			<div class="col-md-4 services-grid wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
				<div class="services-left">
					<img class="img-responsive" style="height:180px;" src="{{ document.1 }}" alt=" "/>
				</div>
				<div class="services-right">
					<h4>{{ document.0.title }}</h4>
					<form method="get" action="/file_viewer/">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit" name="document_id" value="{{ document.0.id }}">Open</button>
                    </form>
				</div>
			</div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>
	</div>

	<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint:480,
						visibleItems: 1
					},
					landscape: {
						changePoint:640,
						visibleItems: 2
					},
					tablet: {
						changePoint:991,
						visibleItems: 2
					}
				}
			});

		});
	</script>
	<script type="text/javascript" src="/static/assets/js/jquery.flexisel.js"></script>

	<div class="contact-form ">
		<div class="container">
			<h3 class="title">Contact <span>Us</span></h3>
			<div class="col-md-6 contact-right wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
				<form action="#" method="post">
					{% csrf_token %}
					<input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<textarea name="Message..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
					<input type="submit" value="Submit" >
				</form>
			</div>
			<div class="col-md-6 contact-left wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
				<h2>Contact Information</h2>
				<p>If you have some advices for us, please contact us here.We're always standing by and eager to help.</p>
				<ul class="contact-list">
					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:variora@outlook.com">variora@outlook.com</a></li>
				</ul>
				<ul class="icons-list footer-bottom">
					<li><a href="#" class="use1"><span>Facebook</span></a></li>
					<li><a href="#" class="use2"><span>Twitter</span></a></li>
					<li><a href="#" class="use3"><span>Dribbble</span></a></li>
					<li><a href="#" class="use4"><span>Pinterest</span></a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<p class="copy-right text-center">Copyright &copy; 2016@<strong>OnePatchMan</strong> All rights reserved.</p>
		</div>
	</div>

	<!-- contact -->
	<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
			};
		*/
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //smooth scrolling -->
</body>
</html>

