{% extends "user_dashboard/base_page.html" %} 

{% block title %}Group: {{ coterie.name }} (admin){% endblock %}

{% block location %}
    <span class="navbar-brand" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 408px" title="{{coterie.id}}: {{coterie.name}}">Group&nbsp<span style="color: #1DC7EA">(admin)</span>: {{ coterie.name }}</span>
{% endblock %}

{% block content %}     
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Administrators<p style="display: inline;" class="category">  ——Here is a list of administrator</p></h4>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>#</th>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Email</th>
                                        </thead>
                                        <tbody>
                                            {% for user in coterie.administrators.all %} 
                                            <tr>
                                            <td>1</td>
                                            <td><img style="width:40px; height:40px;" class="img-circle" src="{{ user.portrait_url }}"></td>
                                            <td>{{ user.nickname }}</td>
                                            <td>{{ user.email_address }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Members<p style="display: inline;" class="category">  ——Here is a list of your group members</p></h4>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>#</th>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>  </th>
                                        </thead>
                                        <tbody>
                                            {% for user in coterie.members.all %} 
                                            <tr>
                                                <td>1</td>
                                                <td><img style="width:40px; height:40px;" class="img-circle" src="{{ user.portrait_url }}"></td>
                                                <td>{{ user.nickname }}</td>
                                                <td>{{ user.email_address }}</td>
                                                <td>
                                                    <form class="MemberRemoveForm" method="post" action="/coterie/handle_remove_member" style="display: inline-block; font-family: arial; color: white">
                                                        {% csrf_token %}
                                                        <input name="coterie_id" value={{ coterie.id }} style="display: none;">
                                                        <input name="user_id" value={{ user.id }} style="display: none;">
                                                        <input name="current_url" value={{ request.get_full_path }} style="display: none;">
                                                        <button type="button" class="btn btn-info">Remove</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                       
                                </div>
                            </div>
                        </div>  
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Applicants<p style="display: inline;" class="category">  ——Here is a list of people who want to join in this group</p></h4>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>#</th>
                                            <th></th>
                                        	<th>Name</th>
                                        	<th>Email</th>
                                        	<th>Action</th>
                                        </thead>
                                        <tbody>
                                            {% for user in coterie.applicants.all %} 
                                            <tr>
                                                <td>1</td>
                                                <td><img style="width:40px; height:40px;" class="img-circle" src="{{ user.portrait_url }}"></td>
                                                <td>{{ user.nickname }}</td>
                                                <td>{{ user.email_address }}</td>
                                                <form method="post" action="/coterie/handle_join_coterie" style="display: inline-block; font-family: arial; color: white">
                                                    {% csrf_token %}
                                                    <input name="coterie_id" value={{ coterie.id }} style="display: none;">
                                                    <input name="applicant_id" value={{ user.id }} style="display: none;">
                                                    <input name="current_url" value={{ request.get_full_path }} style="display: none;">
                                                    <td>
                                                        <button type="submit" class="btn btn-info" name="decision" value="accept">Allow</button>
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-info" name="decision" value="refuse">Refuse</button>
                                                    </td>
                                                </form>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> 

					<div class="col-md-5">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Documents Uploaded</h4>
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <th>#</th>
                                                <th>File Name</th>
                                                <th>  </th>
                                                <th>  </th>
                                            </thead>
                                            <tbody>
                                                {% for document in coterie.coteriedocument_set.all %}
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square-o EditDocTitleButton" style="cursor: pointer" aria-hidden="true"></i>&nbsp
                                                        <span>{{ document.title }}</span>
                                                    </td>
                                                    <td>
                                                        <form method="get" action="/coterie/display_coteriefile_viewer_page" style="display: inline-block; font-family: arial; color: white">
                                                            {% csrf_token %}
                                                            <input name="coterie_id" value="{{ coterie.id }}" style="display: none;">
                                                            <input name="current_url" value="{{ request.get_full_path }}" style="display: none;">
                                                            <button type="submit" name="document_id" value={{ document.id }} class="btn btn-info">Open</button>
                                                        </form>
                                                    </td>
                                                    <td>
                                                        <form class="FileDeleteForm" method="post" action="/coterie/handle_coteriefile_delete" style="display: inline-block;">
                                                        {% csrf_token %}
                                                            <input name="coterie_id" value="{{ coterie.id }}" style="display: none;">
                                                            <input name="current_url" value="{{ request.get_full_path }}" style="display: none;">
                                                            <input name="document_id" value={{ document.id }} style="display: none">
                                                            <button type="button" class="btn btn-info">delete</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                               		 </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="card ">
                                <div class="header">
                                    <h4 class="title">Upload Files</h4>
                                    <p class="category">Click "Browse" button to find files in your computer</p>
                                </div>
                                <div class="content">
                                    <form id="file_upload_form" enctype="multipart/form-data" action="/coterie/handle_coteriefile_upload" method = "post">
                                        {% csrf_token %}
                                        <input id="file_upload_input" name="file_upload" type="file" class="form-control input-sm" accept="application/pdf,application/zip,application/rar" required="required">
                                        <div class="input-group">
                                            <input name="title" type="text" class="form-control input-sm" placeholder="title" required="required">
                                            <input name="coterie_id" value="{{ coterie.id }}" style="display: none;">
                                            <input name="current_url" value="{{ request.get_full_path }}" style="display: none;">
                                            <span class="input-group-btn">
                                                <button type="submit" type="button" class="btn btn-info" style="float: right; width: 121px;">Upload</button>
                                            </span>
                                        </div>
                                        <br><br><br>
                                    </form>         
                                    <script>
                                    $(document).ready(function() {
                                        $("#file_upload_input").fileinput({
                                            'showUpload': false, 
                                            'showPreview': false, 
                                        });
                                    });
                                    </script>       
                                </div>
                            </div>
                        </div>

                    </div>                        
	        	</div>
	        </div>
	    </div>
{% endblock %}
{% block extra_script %}
    <script>
        var userDashboardPageType = "administrated_coterie_page";
    </script>
{% endblock %} 
