{% extends "user_dashboard/base_page.html" %} 

{% block title %}Group: {{ coterie.name }} (member){% endblock %}

{% block location %}
    <span class="navbar-brand">Group: {{ coterie.name }} <span style="color: #1DC7EA">(member)</span></span>
{% endblock %}

{% block content %}     
        <div class="content">
            <div class="container-fluid">
                <div class="row">                   
                    <div class="col-md-7">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                <h4 class="title">Members<p style="display: inline;" class="category">  ——Here is a list of members</p></h4>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>#</th>
                                            <th></th>
                                            <th>Nickname</th>
                                            <th>Email Address</td>
                                        </thead>
                                        <tbody>
                                            {% for user in coterie.members.all %} 
                                            <tr>
                                            <td>1</td>
                                            <td><img style="width:40px; height:40px;" class="img-circle" src="{{ user.portrait_url }}"></td>
                                            <td>{{ user.nickname }}</td>
                                            <td>{{ user.email_address }}</td>
                                            </tr>
                                            {% endfor %}
                                        <tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Administrators<p style="display: inline;" class="category">  ——Here is a list of administrator</p></h4>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <table class="table table-hover table-striped">
                                        <thead>
                                            <th>#</th>
                                            <th></th>
                                            <th>Nickname</th>
                                            <th>Email Address</td>
                                        </thead>
                                        <tbody>
                                            {% for user in coterie.administrators.all %} 
                                            <tr>
                                            <td>1</td>
                                            <td><img style="width:40px; height:40px;" class="img-circle" src="{{ user.portrait_url }}"></td>
                                            <td>{{ user.nickname }}</td>
                                            <td>{{ user.email_address }}</td>
                                            </tr>
                                            {% endfor %}
                                        <tbody>
                                    </table>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>  
                    
                    <div class="col-md-5">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Documents Uploaded</h4>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>#</th>
                                            <th>File Name</th>
                                            <th>  </th>
                                            <th>  </th>
                                        </thead>
                                        <tbody>
                                            {% for document in coterie.coteriedocument_set.all %}
                                            <tr>
                                                <td>1</td>
                                                <td>{{ document.title }}</td>
                                                <form method="get" action="/coterie/display_coteriefile_viewer_page" style="display: inline-block; font-family: arial; color: white">
                                                    {% csrf_token %}
                                                    <td>
                                                        <input name="coterie_id" value="{{ coterie.id }}" style="display: none;">
                                                        <input name="current_url" value="{{ request.get_full_path }}" style="display: none;">
                                                        <button type="submit" name="document_id" value={{ document.id }} class="btn btn-info">Open</button>
                                                    </td>
                                                </form>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
{% endblock %}
