{% extends "user_dashboard/base_page.html" %} 

{% block title %}Friends{% endblock %}

{% block location %}
    <span class="navbar-brand">Friends</span>
{% endblock %}

{% block content %}     
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Followers</h4>
                            </div>
                            <div class="content">
                                <div class="footer" class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped" class="table">
                                        <thead>
                                            <th>#</th>
                                            <th></th>
                                            <th>Nickname</th>
                                            <th>Email Address</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            {% for follower in current_user.follower_set.all %}
                                            <tr>
                                                <form class="friend_page_form" method="get" action="/user_dashboard/friend_page">
                                                    {% csrf_token %}
                                                    <input style="display: none;" name="friend_id" value="{{ follower.id }}">
                                                </form>
                                                <td>1</td>
                                                <td><img style="width:40px; height:40px; cursor: pointer;" class="friend_portrait img-circle" src="{{ follower.portrait_url }}"></td>
                                                <td>{{ follower.nickname }}</td>
                                                <td>{{ follower.email_address}}</td>
                                                <form action="/user_dashboard/handle_follow_user" method="post">
                                                    {% csrf_token %}
                                                    <td><button name="user_id" value='{{ follower.id }}' type="submit" class="btn btn-info">follow</button></td>
                                                </form>
                                            </tr>
                                            {% endfor %}
                                        <tbody>
                                    </table>                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Followings</h4>
                            </div>
                            <div class="content">
                                <div class="footer" class="span12">
                                <table class="table table-hover table-striped" class="table">
                                    <thead>
                                        <th>#</th>
                                        <th></th>
                                        <th>Nickname</th>
                                        <th>Email Address</td>
                                        <td></td>
                                    </thead>
                                    <tbody>
                                        {% for following_user in current_user.following_users.all %}
                                        <tr>
                                            <form class="friend_page_form" method="get" action="/user_dashboard/friend_page">
                                                {% csrf_token %}
                                                <input style="display: none;" name="friend_id" value="{{ following_user.id }}">
                                            </form>
                                            <td>1</td>
                                            <td><img style="width:40px; height:40px; cursor: pointer;" class="friend_portrait img-circle" src="{{ following_user.portrait_url }}"></td>
                                            <td>{{ following_user.nickname }}</td>
                                            <td>{{ following_user.email_address }}</td>
                                            <form action="/user_dashboard/handle_unfollow_user" method="post">
                                                {% csrf_token %}
                                                <td><button name="user_id" value='{{ following_user.id }}' type="submit" class="btn btn-info">Unfollow</button></td>
                                            </form>
                                        </tr>
                                        {% endfor %}
                                    <tbody>
                                </table>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
{% endblock %}

{% block extra_script %}
    <script>
    $(document).ready(function() {
        $(".friend_portrait").on("click", function() {
            $(this).parents("tr").find(".friend_page_form").submit();
        });
    });
    </script>
{% endblock %}
