{% for annotation in annotations %}
<div class="AnnotationDiv" annotation_id="{{ annotation.id }}">
<hr>
<blockquote class="AnnotationBlock" annotation_id="{{ annotation.id }}">
    <!--annotation-->
    <div class="content-markdown" style="padding-bottom: 8px; font-size: 80%; font-family: Microsoft Yahei;"> {{ annotation.content|safe|linebreaks }} </div>
    <footer>
        <img class="img-rounded" src="{{ annotation.annotator.portrait_url }}" height="38" width="38">
        {{ annotation.annotator.nickname }} | {{ annotation.post_time.date|date:"Y. M. d" }}
        <div style="float: right;">
            <button class="ReplyAnnotationButton btn" style="border: none; background: none"><i class="fa fa-reply" aria-hidden="true"></i>&nbspreply</button>
            {% if annotation.annotator == request.user %}
                <button style="border: none; background: none" class="DeleteAnnotationButton btn" value="{{ annotation.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbspdelete</button>
            {% endif %}
            <div class="btn">
                <span style="cursor: pointer;" annotation_id="{{ annotation.id }}" class="LikeAnnotationButton glyphicon glyphicon-thumbs-up"></span>
                <bold id="num_like">{{ annotation.num_like }}</bold>
            </div>
        </div>
        <form style="display: none">
            <br>
            <textarea name="annotation_reply_content" class="form-control" rows="2" style="resize: vertical"></textarea>
            <button type="button" class="PostAnnotationReplyButton btn btn-sm btn-info" name="annotation_id" value="{{ annotation.id }}" style="margin-top: 8px; float: right;"> reply</button>
        </form>
    </footer>
    <br>
    <!-- annotation replies -->
    {% for annotation_reply in annotation.annotationreply_set.all|dictsort:"post_time" %}
    <blockquote class="AnnotationReplyBlock" annotation_id="{{ annotation_reply.id }}">
        {% if annotation_reply.reply_to_annotation_reply.replier %}  <!-- if reply to reply -->
        <span style="font-size: 66%; float: left;">
            <i class="fa fa-share" aria-hidden="true"></i>&nbsp&nbsp&nbspreply to <i><b>{{ annotation_reply.reply_to_annotation_reply.replier.nickname }}</b></i>:
        </span><br>
        {% endif %}
        <div class="content-markdown" style="padding-bottom: 8px; font-size: 80%; font-family: Microsoft Yahei;"> {{ annotation_reply.content|safe|linebreaks }} </div>
        <footer>
            <img class="img-rounded" src="{{ annotation_reply.replier.portrait_url }}" height="28" width="28">
            {{ annotation_reply.replier.nickname }} | {{ annotation_reply.post_time.date|date:"Y. M. d" }}
            <div style="float: right;">
                <button class="ReplyAnnotationButton btn" style="border: none; background: none; padding: 0 4px"><i class="fa fa-reply" aria-hidden="true"></i>&nbspreply</button>
                {% if annotation_reply.replier == request.user %}
                    <button class="DeleteAnnotationReplyButton btn" style="border: none; background: none; padding: 0 4px" value="{{ annotation_reply.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbspdelete</button>
                {% endif %}
                <div class="btn" style="padding: 0 4px">
                    <span style="cursor: pointer;" annotation_reply_id="{{ annotation_reply.id }}" class="LikeAnnotationReplyButton glyphicon glyphicon-thumbs-up"></span>
                    <bold id="num_like">{{ annotation_reply.num_like }}</bold>
                </div>
            </div>   
            <form style="display: none">
                <br>
                <textarea name="reply_reply_content" class="form-control" rows="2" style="resize: vertical"></textarea>
                <button type="button" class="PostReplyReplyButton btn btn-sm btn-info" name="reply_to_annotation_reply_id" value="{{ annotation_reply.id }}" style="margin-top: 8px; float: right;" >reply</button>
            </form>
        </footer>
    </blockquote>
    {% endfor %}
</blockquote>
</div>
{% endfor %}

<script>
function removeAnnotation(annotationID) {
    $(".AnnotationDiv[annotation_id='" + annotationID + "']").remove();
    $(".Annotation[annotation_id='" + annotationID + "']").remove();
}

$(document).ready(function() {
    new_annotation_id = '{{ new_annotation_id }}';
    $(".DeleteAnnotationButton").on("click", function() {
        var annotationID = this.value;
        $.ajax({
            type: "POST",
            url: "",
            data: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                operation: "delete_annotation",
                annotation_id: annotationID,
            },
            success: function() {
                removeAnnotation(annotationID);
            }
        });
    });
    $(".DeleteAnnotationReplyButton").on("click", function() {
        var index = layer.load(0, {shade: 0.18}); //0 represent the style, can be 0-2
        $.ajax({
            type: "POST",
            url: "",
            data: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                operation: "delete_annotation_reply",
                reply_id: this.value,
                document_id: $("button[name='document_id']").val(),
            },
            success: function(data) {
                $("#annotation_update_div").html(data);
                tinymceInit();
                layer.close(index);
            }
        });
    });
    $(".PostAnnotationReplyButton").on("click", function() {
        if (is_authenticated) {
            tinyMCE.triggerSave();  // http://www.sifangke.com/2012/04/ajax-submit-tinymce-content/
            var thisButton = $(this);
            var index = layer.load(0, {shade: 0.18}); //0 represent the style, can be 0-2
            $.ajax({
                type: "POST",
                url: "",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    operation: "reply_annotation",
                    annotation_reply_content: thisButton.prev("textarea[name='annotation_reply_content']").val(),
                    reply_to_annotation_id: thisButton.val(),
                    document_id: $("button[name='document_id']").val(),
                },
                success: function(data) {
                    $("#annotation_update_div").html(data);
                    tinymceInit();
                    layer.close(index);
                }
            });
        }
        else
            layer.msg('you need to log in to reply');
    })
    $(".PostReplyReplyButton").on("click", function() {
        if (is_authenticated) {
            tinyMCE.triggerSave();  // http://www.sifangke.com/2012/04/ajax-submit-tinymce-content/
            var thisButton = $(this);
            var index = layer.load(0, {shade: 0.18}); //0 represent the style, can be 0-2
            $.ajax({
                type: "POST",
                url: "",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    operation: "reply_annotation",
                    annotation_reply_content: thisButton.prev("textarea[name='reply_reply_content']").val(),
                    reply_to_annotation_id: thisButton.parents(".AnnotationBlock").find(".PostAnnotationReplyButton").val(),
                    reply_to_annotation_reply_id: thisButton.val(),
                    document_id: $("button[name='document_id']").val(),
                },
                success: function(data) {
                    $("#annotation_update_div").html(data);
                    tinymceInit();
                    layer.close(index);
                }
            });
        }
        else
            layer.msg('you need to log in to reply');
    })
    $(".ReplyAnnotationButton").on("click", function() {
        $(this).parents("footer").children("form").slideToggle({duration: 180, start: function() {
            if ($(this).is(":hidden")) {
                // tinyMCE.activeEditor.setContent("")
            }
            else {
                $(".ReplyAnnotationButton").parents("footer").children("form").not($(this)).slideUp(180)
                // for (editor in tinyMCE.editors)
                //     tinyMCE.editors[editor].setContent("")
            }
        }});
    });
    $(".LikeAnnotationButton").on("click", function() {
        if (is_authenticated) {
            $this = $(this);
            var new_num = parseInt($this.next().text()) + 1;
            $this.next().text(new_num.toString());
            $this.off("click");
            $this.css("color", "#6495ED");
            $this.on("click", function() {
                layer.msg('already liked', { icon: 6, time: 800, });
            });
            $.ajax({
                type: "POST",
                url: "",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    operation: "like_annotation",
                    annotation_id: $this.attr("annotation_id"),
                },
            });
        }
        else
            layer.msg('you need to log in to like');
    });
    $(".LikeAnnotationReplyButton").on("click", function() {
        if (is_authenticated) {
            $this = $(this);
            var new_num = parseInt($this.next().text()) + 1;
            $this.next().text(new_num.toString());
            $this.off("click");
            $this.css("color", "#6495ED");
            $this.on("click", function() {
                layer.msg('already liked', { icon: 6, time: 800, });
            });
            $.ajax({
                type: "POST",
                url: "",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    operation: "like_annotation_reply",
                    annotation_reply_id: $this.attr("annotation_reply_id"),
                },
            });
        }
        else
            layer.msg('you need to log in to like');
    });
    $(".AnnotationBlock").on("mouseover", function() {
        var annotation_id = $(this).attr("annotation_id");
        var Annotation = $(".Annotation[annotation_id='" + annotation_id + "']");
        $(this).css("background-color", Annotation.css("background-color"));
        Annotation.css("border", "1px solid #0F0F0F");
    });
    $(".AnnotationBlock").on("mouseout", function() {
        var annotation_id = $(this).attr("annotation_id");
        var Annotation = $(".Annotation[annotation_id='" + annotation_id + "']");
        $(this).css("background-color", "white");
        Annotation.css("border", "none");
    });
    $(".AnnotationBlock").on("click", function() {  // scroll to the corresponding Anotation when clicking a certain AnnotationBlock
        var annotation_id = $(this).attr("annotation_id");
        var Annotation = $(".Annotation[annotation_id='" + annotation_id + "']");
        var fileViewer = $("#file_viewer");
        var down = Annotation.offset().top - fileViewer.offset().top + fileViewer.scrollTop() - window.innerHeight * 0.38 + Annotation.height() / 2;
        fileViewer.animate({scrollTop: parseInt(down)}, 240);
    });
});
</script>