{% for comment in comments %}
<hr>
<blockquote>
    {% if comment.reply_to_comment.commenter %}
    <h5 style="float: right;">
        <i class="fa fa-share" aria-hidden="true"></i>&nbsp&nbsp&nbspreply to <b>{{ comment.reply_to_comment.commenter.nickname }}:</b>
    </h5><br>
    {% endif %}
    <div class="content-markdown" style="font-size: 80%; font-family: Microsoft Yahei; padding-bottom: 8px"> {{ comment.content|safe|linebreaks }} </div>
    <footer>
        <img class="img-rounded" src="{{ comment.commenter.portrait_url }}" height="38" width="38">
        {{ comment.commenter.nickname }} | {{ comment.post_time }}
        <div style="float: right">
            {% if comment.commenter == request.user %}
                <button class="delete_comment_button btn" style="border: none; background: none" value="{{ comment.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbspdelete</button>
            {% endif %}
            <button class="reply_comment_button btn" style="border: none; background: none"><i class="fa fa-reply" aria-hidden="true"></i>&nbspreply</button>
            <div class="btn">
                <span style="cursor: pointer;" comment_id="{{ comment.id }}" class="likeCommentButton glyphicon glyphicon-thumbs-up"></span>
                <bold id="num_like">{{ comment.num_like }}</bold>
            </div>
        </div>
        <form class="reply_comment_form" style="display: none">
            <br>
            <textarea name="comment_content" class="form-control" rows="2" style="resize: vertical"></textarea>
            <button type="button" class="post_comment_reply_button btn btn-sm btn-info" name="comment_id" value="{{ comment.id }}" style="margin-top: 8px; float: right;">reply</button>
        </form>
    </footer>
</blockquote>
{% endfor %}
