<br>
{% for comment in comments %}
<div class="CommentBlock" comment_id="{{ comment.id }}" reply_to_comment_id="{{ comment.reply_to_comment.id }}">
<hr>
<blockquote style="padding: 18px">
    {% if comment.reply_to_comment.commenter %}
    <h5 style="float: right;">
        <i class="fa fa-share" aria-hidden="true"></i>&nbsp&nbsp&nbspreply to <b>{{ comment.reply_to_comment.commenter.nickname }}:</b>
    </h5><br>
    {% endif %}
    <div class="comment-content" style="font-size: 80%; font-family: Helvetica; padding-bottom: 8px"> {{ comment.content|safe|linebreaks }} </div>
    <footer>
        {% if comment.is_public %}
        <img class="img-rounded" src="{{ comment.commenter.portrait_url }}" height="38" width="38">
        {{ comment.commenter.nickname }} | {{ comment.post_time }}
        {% else %}
        <img class="img-rounded" src="{{ ANONYMOUS_USER_PORTRAIT_URL }}" height="38" width="38">
        Anonymous | {{ comment.post_time.date|date:"Y. M. d" }}
        {% endif %}
        <div style="float: right">
            {% if comment.commenter == request.user %}
                <button class="delete_comment_button btn" style="border: none; background: none" value="{{ comment.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbspdelete</button>
            {% endif %}
            <button class="reply_comment_button btn" style="border: none; background: none"><i class="fa fa-reply" aria-hidden="true"></i>&nbspreply</button>
            <div class="btn">
                <span style="cursor: pointer;" comment_id="{{ comment.id }}" class="likeCommentButton glyphicon glyphicon-thumbs-up"></span>
                <bold class="num_like">{{ comment.num_like }}</bold>
            </div>
        </div>
        <form class="reply_comment_form" style="display: none">
            <br>
            <textarea name="comment_content" class="form-control" rows="2" style="resize: vertical"></textarea>
            <button type="button" class="post_comment_reply_button anonymously_post_comment_reply_button btn btn-sm" name="comment_id" value="{{ comment.id }}" style="margin: 8px; float: right; border-radius: 0; color: white; background-color: #636e72">
              <i class="fa fa-user-secret"></i> &nbsp reply anonymously
            </button>
            <button type="button" class="post_comment_reply_button btn btn-sm" name="comment_id" value="{{ comment.id }}" style="margin-top: 8px; float: right; border-radius: 0; color: white; background-color: #1BA39C">reply</button>
        </form>
    </footer>
</blockquote>
</div>
{% endfor %}
