<div id="navbar">
  <a class="awesome blue" href="{{ prev_page_url }}" placeholder="Page" style="float: left; height: 28px;"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>

  <div title="{{ document.title }}" style="text-align: center; display: inline-block; color:white; margin: 5px 0 0 8%; width: 28%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
    {{ document.title }}
  </div>
  <!-- <div id="scroll_page_into_view_div">
    <input type="number" style="width: 60px" />
    <button class="awesome blue">Go</button>
  </div> -->

  <button class="awesome blue" id="instruction_button" style="height: 28px; width: 118px">
    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp&nbspHow to use
  </button>

  <div id="resize_buttons_div">
    <button class="awesome blue" style="height: 28px;" type="button" id="btn-for-larger"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button class="awesome blue" style="height: 28px;" type="button" id="btn-for-smaller"><i class="fa fa-minus" aria-hidden="true"></i></button>
  </div>
{#  <button class="awesome blue" id="show_annotation_frame_button" style="height: 28px;">Show</button>#}
{#  <button class="awesome blue" id="hide_annotation_frame_button" style="height: 28px;">Hide</button>#}
{#  <button class="awesome blue" id="comment_button" data-toggle="modal" data-target="#comment_modal" style="height: 28px;">#}
{#    <i class="fa fa-comments" aria-hidden="true"></i>&nbspComments#}
{#  </button>#}
  <div class="dropdown" id="annotation-color-buttons-div">
    <button class="awesome blue dropdown-toggle" style="height: 28px;" data-toggle="dropdown"><i class="fa fa-paint-brush" aria-hidden="true"></i>&nbspColors
      <b class="caret"></b>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" style="min-width: 80%">
      <li><input class="color-picker" value="#6f6f6f"></li>
    </ul>
  </div>
  <form id="download" method="get" action="/file_viewer/api/documents/{{ document.id }}/download" style="display: inline-block;">
    {% csrf_token %}
    <button type="submit" class="awesome blue" style="height: 28px"><i class="fa fa-cloud-download" aria-hidden="true"></i>&nbspdownload</button>
  </form>

  <button class="awesome blue" style="height: 28px; padding: 5px 6px 9px 9px" type="button" id="readlist_button">
    <i class="material-icons" style="font-size: 20px">playlist_add</i>
  </button>
  {% if request.user.is_authenticated %}
    {% if collected %}
      <button class="awesome blue" style="height: 28px;" type="button" id="collect_button"><i class="fa fa-star" aria-hidden="true"></i></button>
    {% else %}
      <button class="awesome blue" style="height: 28px;" type="button" id="collect_button"><i class="fa fa-star-o" aria-hidden="true"></i></button>
    {% endif %}
  {% endif %}
  <!-- <b id="num_visit" style="float: right; color: white; padding-top: 4px;">visit: {{ document.num_visit }}</b>
  <b id="num_collect" style="float: right; color: white; padding-top: 4px;">collect: {{ document.collectors.all|length }}</b> -->
</div>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
<style>
  .p-icon {
    margin: 16px;
    display: block;
  }
  .pretty input:checked~.state.p-primary label:after {
    background-color: #888 !important;
  }
</style>
<div id="readlist" style="display: none; font-size: 16px">
  <div style="font-size: 16px; padding: 16px">Add to ...
      <i class="material-icons" id="close-readlist-icon" style="cursor: pointer; margin-top: 2px; float: right; font-size: 18px; color: #9f9f9f">close</i>
  </div>
  <hr style="margin-top: 0px; margin-bottom: 16px">
  <form id="add_to_readlist_form">
    <div id="checkbox_template" class="pretty p-icon p-smooth p-curve p-thick" style="margin: 24px 16px; display: none">
      <input type="checkbox" />
      <div class="state p-primary">
        <i class="icon material-icons">done</i>
        <label style="margin-left: 8px; width: 88%; overflow: hidden; text-overflow: ellipsis">Template</label>
        <i class="fa fa-globe" style="float: right; color: #989898; font-size: 18px" aria-hidden="true"></i>
      </div>
    </div>
  </form>
</div>

