<div class="AnnotationDiv" annotation_id="{{ annotation.id }}" annotation_uuid="{{ annotation.clean_uuid }}" page='{{ annotation.page_index }}'>
  <hr>
  <blockquote class="AnnotationBlock" annotation_id="{{ annotation.id }}" annotation_uuid="{{ annotation.clean_uuid }}">
    <!-- annotation -->
    <div class="annotation-content" style="word-break: break-all; hyphens: auto;"> {{ annotation.content|safe|linebreaks }} </div>
    <footer>
      {% if annotation.is_public %}
        <img class="img-rounded" src="{{ annotation.annotator.portrait_url }}" height="38" width="38">
        {{ annotation.annotator.nickname }} | <span class="annotation_time_span">{% if annotation.edit_time %} edit on {{ annotation.edit_time.date|date:"Y. M. d" }} {% else %} {{ annotation.post_time.date|date:"Y. M. d" }} {% endif %}</span>
      {% else %}
        <img class="img-rounded" src="{{ ANONYMOUS_USER_PORTRAIT_URL }}" height="38" width="38">
        Anonymous | <span class="annotation_time_span">{% if annotation.edit_time %} edit on {{ annotation.edit_time.date|date:"Y. M. d" }} {% else %} {{ annotation.post_time.date|date:"Y. M. d" }} {% endif %}</span>
      {% endif %}
      <div style="float: right;">
        <button class="AnnotationDirectButton btn" style="border: none; background: none">
          <i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsplocate
        </button>

        <button class="ReplyAnnotationButton btn" style="border: none; background: none">
          <i class="fa fa-reply" aria-hidden="true"></i>&nbspreply
        </button>

        <div class="btn LikeAnnotationButton" annotation_id="{{ annotation.id }}">
          <span style="cursor: pointer;" class="glyphicon glyphicon-thumbs-up"></span>
          <bold class="num_like">{{ annotation.num_like }}</bold>
        </div>

        {% if annotation.annotator == request.user %}
          <div class="dropdown" style="border: none; background: none; display: inline-block;">
            <button class="btn" data-toggle="dropdown" style="border: none; background: none">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu" style="left: auto; right: 0; min-width: 108px; padding: 0; top: 38px">
              <li>
                <button class="EditFormToggleButton btn" annotation_id="{{ annotation.id }}" style="border: none; background: none; width: 100%">
                  <i class="fa fa-pencil" aria-hidden="true"></i>&nbspedit
                </button>
              </li>
              <li role="separator" class="divider" style="margin: 0px 6px 0px 6px"></li>
              <li>
                <button style="border: none; background: none; width: 100%" class="DeleteAnnotationButton btn" value="{{ annotation.id }}">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>&nbspdelete
                </button>
              </li>
            </ul>
          </div>
        {% endif %}
      </div>
      <form style="display: none">
        <br>
        <textarea id="annotation_reply_form_{{ annotation.id }}}" name="annotation_reply_content" class="form-control" rows="2" style="resize: vertical"></textarea>
        <button class="PostAnnotationReplyButton AnonymouslyPostAnnotationReplyButton btn btn-sm" type="button" name="annotation_id" value="{{ annotation.id }}" style="background-color: #636e72; margin-left: 8px">
          <i class="fa fa-user-secret"></i> &nbsp reply anonymously
        </button>
        <button class="PostAnnotationReplyButton btn btn-sm" type="button" name="annotation_id" value="{{ annotation.id }}">reply</button>
      </form>
    </footer>
    <br>
    <!-- annotation resplies -->
    {% for annotation_reply in annotation.annotationreply_set.all|dictsort:"post_time" %}
      {% include "file_viewer/one_annotation_reply.html" with annotation_reply=annotation_reply ANONYMOUS_USER_PORTRAIT_URL=ANONYMOUS_USER_PORTRAIT_URL %}
    {% endfor %}
  </blockquote>

  <form class="AnnotationEditForm" style="display: none; padding-bottom: 28px">
    <textarea id="annotation_edit_form_{{ annotation.id }}}" name="annotation_edit_content" class="form-control" rows="2" style="resize: vertical"></textarea>
    <button class="CancelAnnotationEditButton btn btn-sm" type="button" style="background-color: #636e72; margin-left: 8px">
      cancel
    </button>
    <button class="PostAnnotationEditButton btn btn-sm" type="button" annotation_id="{{ annotation.id }}">
      edit
    </button>
  </form>
</div>
