<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/media/logo.png">

      <!--BOOTSTRAP CDN-->
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <title>Private Document</title>
</head>
<body>
  <div style="text-align: center">
    <h1>This is a document private to IJC</h1>
    <h2>
      If you want to access it, please go to <a href="/sign-in" target="_blank">login</a> page and log in with your email address ends with <code>@ijc.sg</code>.
    </h2>
    <h2>
      (click <code>Login with Google</code> button to do that).
    </h2>
  </div>
</body>
</html>
