.header {
  z-index: 0;
  box-shadow: 0px 1px 3px rgba(26, 26, 26, .1);
}

.sider {
  border-top: 1px solid #e8e8e8;
}

.card {
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(26, 26, 26, .1);
  background-color: white;
}

.ant-table-pagination {
  margin: 16px !important;
}

.editable-cell {
  position: relative;
}

.editable-cell-icon,
.editable-cell-icon-check {
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  display: none;
}

td:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.document-link {
  color: #369 !important;
}

.document-link:hover {
  text-decoration: underline;
}

.ant-table-row a {
  color: #666;
}

.custom-image img {
  display: block;
}
.custom-card {
  padding: 10px 16px;
  background-color: #f7f7f7;
}
.custom-card p {
  color: #999;
}
.custome-card-cover {
  box-shadow: 0px 1px 3px rgba(26, 26, 26, .1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #f6f6f6;
    box-sizing: border-box;
}

.editable-cell-text-wrapper {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical!important
}

.notification-alert-list-wrapper {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  margin-top: 4px !important;
  margin-bottom: 6px !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
}

.custom-card-text-wrapper {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
}

.pubIndex-recommendationsHeader
.card-headerText {
    display: flex;
    width: 100%;
    font-size: 16px;
}

.notification-table .ant-table-footer {
  padding: 0;
}

.notification-table .ant-table-placeholder {
  border-bottom: none;
}

#group-selection-div .ant-table-title {
  padding-top: 6px;
  padding-bottom: 6px;
}

.group-name {
  font-weight: bold;
}




