.header {
  z-index: 0;
  box-shadow: 0px 1px 3px rgba(26, 26, 26, .1);
}

.sider {
  border-top: 1px solid #e8e8e8;
}

.card {
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(26, 26, 26, .1);
  background-color: white;
}

.ant-table-pagination {
  margin: 16px !important;
}

.editable-cell {
  position: relative;
}

.editable-cell-icon,
.editable-cell-icon-check {
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  display: none;
}

td:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.document-link {
  color: #666 !important
}

.ant-table-row a {
  color: #37b
}



/*.logo {*/
  /*width: 120px;*/
  /*height: 31px;*/
  /*background: #FFF;*/
  /*border-radius: 6px;*/
  /*margin: 16px 28px 16px 0;*/
  /*float: left;*/
  /*text-align: center;*/
/*}*/

.editable-cell-text-wrapper{
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 1!important;
  -webkit-box-orient: vertical!important
}

.notification-alert-list-wrapper{
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  display: -webkit-box!important;
  margin-top: 4px!important;
  margin-bottom: 6px!important;
  -webkit-line-clamp: 2!important;
  -webkit-box-orient: vertical!important;
}
