<div id="navbar">
    <a class="awesome blue" href="{{ coterie_page_url }}" placeholder="Page" style="float: left; height: 28px;"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
    <h4 style="display: inline-block; color:white; margin: 5px 0 0 8%;"><i>{{ document.title }}</i></h4>
    <div id="scroll_page_into_view_div">
        <input type="number"/ >
        <button class="awesome blue">Go</button>
    </div>
    <div id="resize_buttons_div">
        <button class="awesome blue" style="height: 28px;" type="button" id="buttonForLarger"><i class="pe-7s-plus pe-lg"></i></button>
        <button class="awesome blue" style="height: 28px;" type="button" id="buttonForSmaller"><i class="pe-7s-less pe-lg"></i></button>
    </div>
    <button class="awesome blue" id="show_annotation_frame_button" style="height: 28px;">Show</button>
    <button class="awesome blue" id="hide_annotation_frame_button" style="height: 28px;">Hide</button>
    <button class="awesome blue" id="comment_button" data-toggle="modal" data-target="#comment_modal" style="height: 28px;">
        <i class="fa fa-comments" aria-hidden="true"></i>&nbspComments
    </button>
    <div class="dropdown" id="annotation_color_buttons_div">
        <button class="awesome blue dropdown-toggle" style="height: 28px;" data-toggle="dropdown"><i class="fa fa-paint-brush" aria-hidden="true"></i>&nbspColor
            <b class="caret"></b>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" style="min-width: 80%">
            <li><button type="button" class="btn btn-lg ColorSelectorButton" style="border-radius: 0px; background-color: rgba(0,0,0,0.18); width:100%;" id="default_color;"></button></li> 
            <li><button type="button" class="btn btn-lg ColorSelectorButton" style="border-radius: 0px; background-color: rgba(0,191,255,0.18); width:100%;" id="blue_color"></button></li>
            <li><button type="button" class="btn btn-lg ColorSelectorButton" style="border-radius: 0px; background-color: rgba(127,255,0,0.18); width:100%;" id="green_color"></button></li> 
            <li><button type="button" class="btn btn-lg ColorSelectorButton" style="border-radius: 0px; background-color: rgba(255,0,0,0.18); width:100%;" id="red_color"></button></li>
        </ul>
    </div>
    <form id="download" method="get" action="/coterie/handle_download_coteriedocument" style="display: inline-block;">
        {% csrf_token %}
        <button type="submit" class="awesome blue" style="height: 28px" name="document_id" value={{ document.id }}><i class="fa fa-cloud-download" aria-hidden="true"></i>&nbspdownload</button>
    </form>
    <b id="num_visit" style="float: right; color: white; padding-top: 4px;">{{ document.num_visit }} visits</b>
</div>

<script> 
    $("#show_annotation_frame_button").on('click', function() {
        $(".Annotation").each(function() {
            $(this).slideDown(180);
        });
    });
    $("#hide_annotation_frame_button").on('click', function() {
        $(".Annotation").each(function() {
            $(this).slideUp(180);
        });
    });
</script>