<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
    </style>
  </head>

  <body>
    <div id="content" style="max-width: 80vw">
      <p>
        You have a new group invitation from: <br/><br/>
        <div style="margin-left: 38px">
          Group Name: {{ group_name }}<br/>
          Inviter: {{ inviter }}<br/>
          Message: {{ message }}<br/><br/>
        </div>
        Please click the following button to register with <b style="color: #1BA39C;">this email address</b> to view the invitations.
      </p>

      <h4 style="margin-left: 38px;">
        <a href="{{ sign_in_url }}" style="text-decoration: none;"><button style="color: #1BA39C">Sign In to Variora</button></a>
      </h4>

      <i>
        If you do not wish to use this email address to sign up, you can use another email and manually search for this group and join with the following invitation code
      </i><br /><br />

      <span style="margin-left: 38px; font-size: 28px;">
        {{ invitation_code }}
      </span> <span style="margin-left: 38px">expired at the end of this week</span><br /><br />

      <HR SIZE=1>
      <p style="color: #1BA39C;">This is a system generated email, please do not reply.</p>
      <p>
        Regards, <br />
        Variora Team
      </p>
    </div>
  </body>
</html>
